/* footer.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 80px; */
    box-sizing: border-box;
    border-top: 5px solid #fff; /* Adjust the border size as needed */
    z-index: 1000; /* Ensure it's on top of other content */
}

#page-footer p {
    margin-top: 5px;
    padding-top: 5px;
}

/* Add additional styling based on your design preferences */
