/* header.css */

body {
    margin: 0;
    padding: 0;
    padding-top: 70px; /* Adjust this value based on the height of your fixed header */
    box-sizing: border-box;
}

#company-header {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid #fff; /* Adjust the border size as needed */
    z-index: 1000; /* Ensure it's on top of other content */
}

.company-name {
    font-size: 24px;
    font-weight: bold;
}

.user-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.user-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-links li {
    display: inline-block;
    margin-left: 15px; /* Adjust the margin */
}

.user-links a {
    color: #fff;
    text-decoration: none;
}

.user-links p {
    margin: 0;
}
