/* Reset some default styles */
body, h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  width: 100%; /* Set the container to take the whole width */
  margin: 0 auto;
  padding: 20px;
}

.flash-message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.alert-success {
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  color: #3c763d;
}

.alert-error {
  background-color: #f2dede;
  border: 1px solid #a94442;
  color: #a94442;
}

h1 {
  margin-bottom: 20px;
}

.blog-post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.blog-post h5 {
  color: #333;
  margin-bottom: 10px;
}

.blog-post p {
  color: #555;
  margin-bottom: 15px;
}

.blog-post .author {
  font-style: italic;
  color: #888;
}

/* Additional styling for Title, Body, and Author */
.blog-post h5 {
  font-size: 1.3em;
  font-weight: bold;
}

.blog-post p.content {
  font-size: 1.1em;
}

.blog-post .author {
  font-size: 0.9em;
}