/* user_profile.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D3D3D3; /* Set a light background color */
    padding-top: 70px; /* Adjust this value based on the height of your fixed header */
}

.user-details-container {
    display: flex;
    justify-content: space-between;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

.user-content-container {
    width: 70%; /* Set user-content-container to take 70% of the width */
    overflow-y: auto; /* Make the container scrollable */
    max-height: calc(100vh - 70px); /* Adjusted maximum height to account for the header */
}

.user-info {
    width: 30%; /* Set user-info to take 30% of the width */
}

.edit-section {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.content-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add additional styling based on your design preferences */

/* Additional style for the footer to ensure it stays at the bottom */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
