<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/header.css">
</head>
<body>

    <header id="company-header">
        <div class="company-name">Your Company Name</div>
        <div class="user-section" id="user-section">
            <ul class="user-links">
                {% if current_user.is_authenticated %}
                    <li><p> Welcome, {{ current_user.first_name}}</p></li>
                {% endif %}
                <li><a href="{{ url_for('home_bp.home_page') }}">Home</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login_bp.login_page') }}">Login</a></li>
                    <li><a href="{{ url_for('register_bp.register_page') }}">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('userProfile_bp.user_page') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout_bp.logout_page') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
</body>
</html>
