<body>

    <header id="company-header">
        <div class="company-name">VIKAS Blogs</div>
        <div class="user-section" id="user-section">
            <ul class="user-links">
                {% if current_user.is_authenticated %}
                    <li><p> Welcome, {{ current_user.first_name}}</p></li>
                {% endif %}
                <li><a href="{{ url_for('home_bp.home_page') }}">Home</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login_bp.login_page') }}">Login</a></li>
                    <li><a href="{{ url_for('register_bp.register_page') }}">Register</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('userProfile_bp.user_page') }}">Profile</a></li>
                    <li><a href="{{ url_for('content_bp.content_page') }}">Post Blogs</a></li>
                    <li><a href="{{ url_for('logout_bp.logout_page') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
</body>
</html>
